@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "bootstrap-colors";
@import "bootstrap-required";
@import "bootstrap-variables";
@import "bootstrap";

.heading-1 {
  font-size: $font-size-base * 3.125;
  font-weight: 700;
}

.heading-2 {
  font-size: $font-size-base * 1.75;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3 {
  color: $primary;
  font-size: $font-size-base * 1.125;
  font-weight: 700;
}

.text-danger, .text-success, .text-info {
  font-size: 0.875rem;
}

.text-danger, .text-success {
  font-weight: 600;
}

.btn-cancel {
  color: $secondary;
  
  &:hover, &:active {
    color: $primary;
  }
  
  &.active
  {
    color: $primary;
  }
}