@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
// Include Bootstrap functions first.
@import "../node_modules/bootstrap/scss/functions";

// Include any default Bootstrap variable overrides.
@import "variables";

// Include remainder of required Bootstrap stylesheets.
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Include any Bootstrap components we want to use.
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

// Include our custom code.
@import "accordion";

.heading-1 {
  font-size: $font-size-base * 3.125;
  font-weight: 700;
}

.heading-2 {
  font-size: $font-size-base * 1.75;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3 {
  color: $primary;
  font-size: $font-size-base * 1.125;
  font-weight: 700;
}

.text-danger, .text-success, .text-info {
  font-size: 0.875rem;
}

.text-danger, .text-success {
  font-weight: 500;
}

.btn-cancel {
  color: $secondary;

  &:hover, &:active {
    color: $primary;
  }

  &.active {
    color: $primary;
  }
}

input:checked + label {
  font-weight: 700;
}

.form-text {
  border-left: 2px solid $secondary;
  font-weight: 500;
  line-height: 2em;
  margin-top: 0.75rem;
  padding-left: 0.5rem;
}

.form-floating > textarea.form-control {
  height: 10em;
}

.form-floating label {
  color: #a3a6ac;
  opacity: 1 !important;
}

.form-title {
  display: flex;
  justify-content: space-between;

  div.bi-pencil-square {
    font-size: $font-size-base * 1.25;
    color: $secondary;
    cursor: pointer;

    &:hover, &:active {
      color: $primary;
    }
  }

  h3 {
    font-size: $font-size-base * 1.25;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.form {
  border-radius: 1rem;
  padding: 2rem;
}

.form .button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.form-active {
  background-color: $light;
}

// added some card styles for are denser look and feel.
// Remove once the final design is applied
.card-deck {
  .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card-text {
    margin-bottom: 8px;
  }
  .card-body ~ .card-body {
    padding-top: 0px;
  }
  .card-footer {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
.container > .card {
  > .card-header {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  > .card-body {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  ~ .card {
    margin-top: 6px;
  }
}
